<div class="content d-flex align-items-center">
  <h2 class="text-center"></h2>
</div>

<footer class="footer-59391">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="
          col-lg-3
          text-lg-center
          site-logo
          order-1 order-lg-2
          mb-3 mb-lg-0
        "
      >
        <a href="#" class="m-0 p-0">Ata Eğitim</a>
      </div>
      <div class="col-lg-5 order-2 order-lg-1 mb-3 mb-lg-0">
        <ul class="list-unstyled nav-links m-0 nav-left">
          <li><a href="#">Kurallar</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">Gizlilik Politikası</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </div>

      <div class="col-lg-4 text-lg-right order-3 order-lg-3">
        <p class="m-0 text-muted">
          <small>&copy; Ata Eğitim 2022. Tüm hakkı saklıdır.</small>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
