.nav-item {
  transition: all ease 300ms;
}
.nav-item:hover {
  color: #4200ff;
}
.navbar-nav > li.nav-item > a.nav-link {
  transition: all ease 300ms;
}

.navbar-nav > li.nav-item > a.nav-link:hover {
  color: #797bff;
}
.navbar-nav > li.nav-item > a.nav-link {
  transition: all ease 300ms;
}

.navbar-nav > li.nav-item > a.nav-link.active {
  color: #1b1b1b;
}

.site-logo a {
  font-size: 24px;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}
